<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>条件渲染 v-if</title>
</head>

<body>
    <style>
        .box {
            width: 200px;
            height: 200px;
            background:red;
        }
    </style>

    <div id="app">
        <h2> v-if 条件渲染</h2>



        <input type="checkbox" v-model="seen">勾选后显示红色

    <div v-if="seen" class="box"></div>

    <div v-else ="seen">红色小块隐藏</div>

    </div>

    <h2> v- show  条件渲染</h2>
     <div v-show="seen" class="box"></div>



    </div>





    <script src="./node_modules/vue/dist/vue.min.js"></script>
    <script>

        var vm = new Vue({
            el: "#app",
            data: {
                seen: false
            }



        });



    </script>
</body>

</html>