<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>计算属性和监听器</title>
</head>

<body>
    <div id="app">
        数学: <input type="text" v-model="mathScore">
        英语：<input type="text" v-model="englishScore">
        总分（方法-单向）<input type="text" v-model="sumScore()">
        总分（计算属性 -单向）<input type="text" v-model="sumScore1">
        总分（计算属性 -双向）<input type="text" v-model="sumScore2">
        总分 (监听器) <input type="text" v-model="sumScore3">
    </div>
    </div>

    <script src="../node_modules/vue/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {

                mathScore: 80,
                englishScore: 70,
                sumScore3: 150
            },
            methods: {
                sumScore: function () {

                    console.log("sumScore 方法被调用");

                    return (this.mathScore - 0) + (this.englishScore - 0)// 减0的作用是转化为数字

                }
            },
            computed: {
                sumScore1: function () {
                    console.log("sumScore 方法被调用");
                    return (this.mathScore - 0) + (this.englishScore - 0)// 减0的作用是转化为数字
                },
                //计算属性 当总分计算
                sumScore2: {

                    get: function () {
                        console.log("sumScore 方法被调用");
                        return (this.mathScore - 0) + (this.englishScore - 0)// 减0的作用是转化为数字
                    },
                    set: function (newValue) {
                        var avgScore = newValue / 2;
                        this.englishScore = avgScore;
                        this.mathScore = avgScore;
                    }

                }

            },
            //监听器
            watch: {
                mathScore: function (newValue, oldValue) {
                    this.sumScore3 = (newValue - 0) + (this.englishScore - 0)
                }
            }

        });
        // 方式二

        vm.$watch('englishScore', function (newValue) {

            this.sumScore3 = (newValue - 0) + (this.mathScore - 0)

        })

    </script>
</body>

</html>